*{
    margin: 0;
    padding: 0;
}
html{
    background-image:url('pattern-37436.svg');
    background-size: 30%;
    background-repeat: repeat;
    background-color: rgba(0,0,0,0.1);
}
body{
    width: 800px;
    margin: auto;
    font-family: sans-serif;
}
#slideshow{
    position: relative;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding: 20px;
    font-weight:200;
    color: rgba(0,0,0,0.8);
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    height: 350px;
    background-color: rgba(0,0,0,0.85);
    /*
    background-image: url(http://www.californiaindianeducation.org/science_lab/pics/space_photos/Tarantula_Nebula.jpg);
    */
    background-image: url(DSC01306.png);
    background-size: 100% auto;
    background-position: center;
}
#slideshow #info{
    margin-top: 130px;
    margin-left: 0;
    margin-right: 400px;
    padding: 5px;
    border-radius: 3px;
    color: rgba(255,255,255,0.8);
    text-shadow: 0 2px 2px rgba(0,0,0,0.8);
}
#slideshow h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}
#slideshow .arrow{
    color: rgba(0,0,0,0.8);
    transition: 0.25s all ease;
    cursor: pointer;
    font-weight: 800;
    font-size: 25pt;
}
#slideshow .arrow:hover{
    color: rgba(0,0,0,0.2);
}
#slideshow #right{
    position: absolute;
    right: -40px;
    bottom: 175px;
}
#slideshow #left{
    position: absolute;
    left: -40px;
    bottom: 175px;
}
#slideshow #image{
    position: absolute;
    right: 65px;
    top: 60px;
}
header{
    left: 50px;
    position: relative;
    margin-top: 20px;
    font-weight: 200;
}
header>h1{
    font-weight: 200;
    margin-bottom: 10px;
}
header>p{
    color: rgba(0,0,0,0.6);
}
header>img{
    position: absolute;
    left: -80px;
    top: -6px;
}